/* banner */

.site-main .site-banner .site-title h3{
    font-weight: lighter;
}

.site-main .site-banner .site-title h1{
    font-weight: bolder;
}

/* .features-icons{
    padding-top: 5rem;
    padding-bottom: 5rem;
} */

/* .features-icons-icon{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
} */